// Estilos del Main Navbar
.main-navbar .navbar{
    background-color: $main-navbar-background-color;
    // border: solid red 1px;
    height: $main-navbar-height;

    > * {
        display: flex;
        
    }
    .nav-link{
        // border:solid red 1px;
        min-width: $main-navbar-nav-link-min-width;
    }

    // Notificaciones
    .notifications{
        
        border-left: $main-navbar-nav-link-border-color-left;
        position: relative;
        
        @media (max-width: 767.98px){
            // border: red 1px solid;
            position: static;

            .dropdown-menu{
                // border: solid red 1px;
                min-width: 100% !important;
                border-left:none;
            }
        }

        .badge{
            // border: solid red 1px !important;
            // position: sticky;
            position: absolute;
            padding: $notifications-badge-padding-y $notifications-badge-padding-x;
            font-size: $notifications-badge-font-size;
            left: 53%;
            top: 52%
        }
        .dropdown-menu{
            // top:$main-navbar-height;
            // border-top: $main-navbar-nav-link-border-color-left;
            background-color:$main-navbar-background-color;
            border: solid red 1px;
            padding: 0;
            margin: 0;
            min-width:  $notifications-dropdown-min-width;
            // border-right: 0;
            // border: none;
            left: auto;

            @media(max-width: 767.98px){
                left: 0;
                right: 0;
            }

            .dropdown-item{
                white-space: normal;
                display: flex;
                flex-flow: row;
                padding-top: $notifications-dropdown-item-padding-top;
                padding-bottom: $notifications-dropdown-item-padding-bottom;
                // border-bottom: $notifications-dropdown-item-border-bottom;
                
                &:last-child{
                    border-bottom: 0;
                }
            }

            .notification{
                // border:solid 1px red;
                &__icon-wrapper{
                    // border:solid 1px red;
                    display: flex;
                    padding: 0 5px;
                }

                &__icon{
                    // border: solid red 1px;
                    background-color:  $notifications-icon-background-color;
                    box-shadow: $notifications-icon-box-shadow;
                    width: $notifications-icon-width;
                    height: $notifications-icon-height;
                    line-height: 0;
                    display: block;
                    text-align: center;
                    margin: auto;
                    border-radius: 50%;

                    i{
                        color: $notifications-icon-color;
                        line-height: $notifications-icon-line-height;
                        font-size: $notifications-icon-font-size;
                        margin: 0;
                    }
                }
                &__content{
                    // border: solid red 1px;
                    padding: $notification-content-padding;
                    
                    p{
                        margin: 0;
                        line-height: 1.5;
                        font-size: $notification-content-paragraph-font-size;
                    }
                }

                &__category{
                    // border: solid red 1px;
                    font-size: $notification-category-font-size;
                    color: $notification-category-color;
                    letter-spacing: $notification-category-letter-spacing;
                    display: inline-block;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    font-weight: 500;
                }
                
                //Se aplica al link de visualizar todas las notificaciones
                &__all{
                    // border: solid red 1px;
                    display: block;
                    font-weight: 500;
                    font-size: 11px;
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                    
                }
            }
        }
    }
    //User avatar
    .user-avatar{
        max-width: $user-avatar-max-width;
    }

    //Navbar
    .navbar-nav .dropdown-menu{
        // border: solid red 1px;
        position: absolute;
        right: 0;
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
    }
    .nav-link-icon i{
        // border: red solid 1px;
        line-height: $main-navbar-nav-link-icon-line-height;
    }

}
//Main navbar shadow
.main-content > .main-navbar,
.main-content .header-navbar{
    box-shadow: $main-navbar-box-shadow;
}