.main-navbar .navbar {
  background-color: #f9aa33;
  height: 3.75rem; }
  .main-navbar .navbar > * {
    display: flex; }
  .main-navbar .navbar .nav-link {
    border-left: #f29407 solid 0.05px;
    min-width: 3.75rem; }
  @media (max-width: 767.98px) {
    .main-navbar .navbar .notifications {
      position: static; }
      .main-navbar .navbar .notifications .dropdown-menu {
        min-width: 100% !important; } }
  .main-navbar .navbar .notifications .badge {
    position: static;
    padding: 0.25rem 0.375rem;
    font-size: 0.55rem; }
  .main-navbar .navbar .notifications .dropdown-menu {
    box-shadow: 0 0.5rem 4rem rgba(249, 170, 51, 0.11), 0 10px 20px rgba(249, 170, 51, 0.05), 0 2px 3px rgba(249, 170, 51, 0.06);
    background-color: #f9aa33;
    padding: 0;
    margin: 0;
    min-width: 25rem;
    left: auto; }
    @media (max-width: 767.98px) {
      .main-navbar .navbar .notifications .dropdown-menu {
        left: 0;
        right: 0; } }
    .main-navbar .navbar .notifications .dropdown-menu .dropdown-item {
      border-top: #f29407 solid 0.05px;
      white-space: normal;
      display: flex;
      flex-flow: row;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem; }
      .main-navbar .navbar .notifications .dropdown-menu .dropdown-item:hover {
        background-color: #232f34;
        color: #f9aa33; }
    .main-navbar .navbar .notifications .dropdown-menu .notification__icon-wrapper {
      display: flex;
      padding: 0 5px; }
    .main-navbar .navbar .notifications .dropdown-menu .notification__icon {
      background-color: white;
      box-shadow: 0 0 0 1px #f9aa33, inset 0 0 3px #232f34;
      width: 2.1875rem;
      height: 2.1875rem;
      line-height: 0;
      display: block;
      text-align: center;
      margin: auto;
      border-radius: 50%; }
      .main-navbar .navbar .notifications .dropdown-menu .notification__icon i {
        color: #232f34;
        line-height: 2.0625rem;
        font-size: 1.0625rem;
        margin: 0; }
    .main-navbar .navbar .notifications .dropdown-menu .notification__content {
      padding: 0 0.625rem; }
      .main-navbar .navbar .notifications .dropdown-menu .notification__content p {
        margin: 0;
        line-height: 1.5;
        font-size: 0.75rem; }
    .main-navbar .navbar .notifications .dropdown-menu .notification__category {
      font-size: 0.5625rem;
      color: white;
      letter-spacing: 0.0938rem;
      display: inline-block;
      text-transform: uppercase;
      margin-bottom: 5px;
      font-weight: 500; }
    .main-navbar .navbar .notifications .dropdown-menu .notification__all {
      display: block;
      font-weight: 500;
      font-size: 11px; }
      .main-navbar .navbar .notifications .dropdown-menu .notification__all:hover {
        border-bottom-left-radius: 0.24 0.5rem;
        border-bottom-right-radius: 0.24 0.5rem; }
  .main-navbar .navbar .user-avatar {
    max-width: 2.5rem; }
  .main-navbar .navbar .navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none; }
  .main-navbar .navbar .nav-link-icon i {
    line-height: 2.5rem; }
  .main-navbar .navbar .dropdown-menu {
    z-index: 1000;
    min-width: 10rem;
    padding: 0;
    margin: 0 0 0;
    font-size: 1rem;
    color: #232f34;
    box-shadow: 0 0.5rem 4rem rgba(249, 170, 51, 0.11), 0 10px 20px rgba(249, 170, 51, 0.05), 0 2px 3px rgba(249, 170, 51, 0.06);
    background-color: #f9aa33; }
  .main-navbar .navbar .dropdown-item {
    margin: 0;
    border-top: #f29407 solid 0.05px;
    padding: 0.375rem 0.875rem;
    font-size: 0.813rem; }
    .main-navbar .navbar .dropdown-item:hover {
      background-color: #232f34;
      color: #f9aa33; }
    .main-navbar .navbar .dropdown-item:last-child {
      border-bottom-left-radius: 0.375rem;
      border-bottom-right-radius: 0.375rem; }

.main-content > .main-navbar,
.main-content .header-navbar {
  box-shadow: 0 0.125rem 0.825rem rgba(249, 170, 51, 0.5); }

.main-sidebar {
  top: 0;
  position: fixed;
  height: calc(100vh);
  background: #4a6572;
  z-index: 1070;
  will-change: transform;
  transition: transform 200ms ease-in-out;
  box-shadow: 0 0.125rem 0.375rem rgba(249, 170, 51, 0.1), 0 0.125rem 0.5rem rgba(249, 170, 51, 0.15), 0 0.9375rem 1.375rem rgba(249, 170, 51, 0.1), 0 0.4375rem 2.1875rem rgba(249, 170, 51, 0.1); }
  @media (max-width: 767.98px) {
    .main-sidebar {
      transform: translateX(-100%);
      box-shadow: none; } }
  .main-sidebar.open {
    transform: translateX(0);
    box-shadow: 0 0.125rem 0.375rem rgba(249, 170, 51, 0.1), 0 0.125rem 0.5rem rgba(249, 170, 51, 0.15), 0 0.9375rem 1.375rem rgba(249, 170, 51, 0.1), 0 0.4375rem 2.1875rem rgba(249, 170, 51, 0.1); }
  .main-sidebar .toggle-sidebar {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 1.25rem;
    font-size: 1.25rem;
    border-left: 1px solid #e1e5eb; }
    .main-sidebar .toggle-sidebar:hover {
      cursor: pointer; }
  .main-sidebar .navbar-brand {
    overflow: hidden;
    height: 3.75rem;
    font-size: 0.9rem;
    background-color: #4a6572;
    color: #f9aa33; }
  .main-sidebar .nav-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 3.75rem - 1px); }
  .main-sidebar .nav .nav-item,
  .main-sidebar .nav .nav-link {
    white-space: nowrap;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    will-change: background-color, box-shadow, color;
    transition: box-shadow 200ms ease, color 200ms ease, background-color 200ms ease;
    font-size: 0.85rem; }
  .main-sidebar .nav .nav-item .nav-link {
    border-bottom: 1px solid #344955;
    font-weight: 400;
    color: white;
    padding: 0.9375rem 1.5625rem; }
    .main-sidebar .nav .nav-item .nav-link i {
      min-width: 1.25rem;
      font-size: 90%;
      text-align: center;
      vertical-align: middle;
      will-change: color;
      color: white;
      transition: color 200ms ease;
      margin-right: 0.375rem; }
    .main-sidebar .nav .nav-item .nav-link i.material-icons {
      font-size: 1.125rem;
      top: -1px; }
  .main-sidebar .nav .nav-item.active,
  .main-sidebar .nav .nav-item .nav-link.active, .main-sidebar .nav .nav-item:hover,
  .main-sidebar .nav .nav-item .nav-link:hover {
    box-shadow: inset 0.1875rem 0 0 #f9aa33;
    background-color: #232f34;
    color: #f9aa33; }
    .main-sidebar .nav .nav-item.active i,
    .main-sidebar .nav .nav-item .nav-link.active i, .main-sidebar .nav .nav-item:hover i,
    .main-sidebar .nav .nav-item .nav-link:hover i {
      color: #f9aa33; }
