/**
Estilos para el sistema web
**/
/*Variables*/
/*Mixin*/
/*Sobreescritura de los estilos de bootstrap*/
/*Override*/
.btn:focus,
.btn:active,
.btn:active:focus,
.form-control:focus {
  box-shadow: none !important;
  outline: none; }

a {
  color: #4a6572;
  font-weight: 500;
  transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

.form-control
 {
  background-color: #feedd4;
  border-color: #6d91a6; }
  .form-control:focus
   {
    background-color: #fffdfb;
    border-color: #384b52; }

.custom-control {
  line-height: 1.6rem; }

.form-group {
  margin-bottom: 25px; }
  .form-group .control-label,
  .form-group > label {
    font-weight: 600;
    color: #232f34;
    font-size: 12px;
    letter-spacing: .5px; }

.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #344955 !important; }

.card {
  box-shadow: 0 4px 8px rgba(249, 170, 51, 0.5);
  background-color: #fabf65;
  border-radius: 3px;
  border: none;
  position: relative;
  margin-bottom: 30px; }
  .card .card-header, .card .card-body, .card .card-footer {
    background-color: transparent;
    padding: 20px 25px; }
  .card .card-body {
    padding-top: 20px;
    padding-bottom: 20px; }
  .card .card-header {
    border-bottom-color: #f9f9f9; }
    .card .card-header h4 {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 0;
      text-align: center;
      color: #4a6572; }
  .card.card-primary {
    border-top: 2.5px solid #232f34; }

.btn:focus {
  box-shadow: none !important;
  outline: none; }
.btn:active {
  box-shadow: none !important;
  outline: none; }
  .btn:active:focus {
    box-shadow: none !important;
    outline: none; }

.btn-primary, .btn-primary.disabled {
  box-shadow: 0 2px 6px #232f34;
  background-color: #4a6572;
  border-color: #232f34; }
  .btn-primary:focus, .btn-primary.disabled:focus {
    background-color: color_darken(primary, 10%) !important; }
    .btn-primary:focus:active, .btn-primary.disabled:focus:active {
      background-color: color_darken(primary, 10%) !important; }
  .btn-primary:active, .btn-primary:hover, .btn-primary.disabled:active, .btn-primary.disabled:hover {
    background-color: #f9aa33 !important;
    border-color: #232f34;
    color: #232f34; }

/* nunito-regular - latin */
/* nunito-600 - latin */
/* nunito-700 - latin */
/* nunito-800 - latin */
body {
  background-color: #384b52;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Nunito', 'Segoe UI', arial; }

.login-brand {
  margin: 20px 0;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #666;
  text-align: center; }
