// Colores
$light: #FBFBFB;
$border-color: #e1e5eb;

// Tipografía y fuentes
// Disable Google Fonts imports
$enable-fonts-import: false;

// Use the System UI font instead of Poppins.
$font-family-poppins-first:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$headings-color: #3D5170;
$font-size-sm: 0.6875rem;

// Body
$body-background: #F5F6F8;

$font-size-sm: 0.6875rem;
$font-size-lg: 0.875rem;

// Navs
$nav-link-padding-x: 0.625rem;

// Navbar brand
$navbar-brand-font-size: 0.9rem;

// Dropdowns
$dropdown-padding-y: 10px;