/**
Estilos para el sistema web
**/
/*Variables*/
/*Mixin*/
/*Sobreescritura de los estilos de bootstrap*/
/*Override*/
.form-control,
.custom-select,
.custom-file-label {
  background-color: #ffffff;
  border-color: #d2d8e1; }
  .form-control:focus,
  .custom-select:focus,
  .custom-file-label:focus {
    border-color: #3D5170; }

.custom-control {
  line-height: 1.6rem; }

.form-group {
  margin-bottom: 25px; }
  .form-group .control-label,
  .form-group > label {
    font-weight: 600;
    color: #232f34;
    font-size: 12px;
    letter-spacing: .5px; }

.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #344955 !important; }

.custom-file-label:after {
  border-color: transparent; }
.custom-file-label:focus, .custom-file-label:active {
  box-shadow: none;
  outline: none; }

.custom-file-input:focus + .custom-file-label {
  box-shadow: none;
  border-color: #3D5170; }
  .custom-file-input:focus + .custom-file-label:after {
    border-color: transparent; }

.card {
  box-shadow: 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.2);
  background-color: #ffffff;
  border-radius: 3px;
  border: none;
  position: relative;
  margin-bottom: 30px; }
  .card .card-header, .card .card-body, .card .card-footer {
    background-color: transparent;
    padding: 20px 25px; }
  .card .card-body {
    padding-top: 20px;
    padding-bottom: 20px; }
  .card .card-header {
    border-bottom-color: #818EA3;
    min-height: 0.5rem; }
    .card .card-header h4 {
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 0;
      text-align: center;
      color: #4a6572; }
  .card.card-primary {
    border-top: 2.5px solid #818EA3; }

.btn:focus {
  box-shadow: none !important;
  outline: none; }
.btn:active {
  box-shadow: none !important;
  outline: none; }
  .btn:active:focus {
    box-shadow: none !important;
    outline: none; }

.btn-primary, .btn-primary.disabled {
  box-shadow: 0 2px 6px #232f34;
  background-color: #4a6572;
  border-color: #232f34; }
  .btn-primary:focus, .btn-primary.disabled:focus {
    background-color: color_darken(primary, 10%) !important; }
    .btn-primary:focus:active, .btn-primary.disabled:focus:active {
      background-color: color_darken(primary, 10%) !important; }
  .btn-primary:active, .btn-primary:hover, .btn-primary.disabled:active, .btn-primary.disabled:hover {
    background-color: #f9aa33 !important;
    border-color: #232f34;
    color: #232f34; }

.dropdown-menu {
  box-shadow: 0 0.5rem 0.625rem rgba(90, 97, 105, 0.4);
  border: none;
  border-radius: 0.375rem; }

.dropdown-item {
  border-bottom: #e1e5eb solid 0.05px; }
  .dropdown-item:hover {
    background-color: #b6bac0 !important;
    color: #232f34; }
  .dropdown-item:last-child {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem; }

.main-navbar .navbar {
  background-color: #ffffff;
  height: 3.75rem; }
  .main-navbar .navbar .nav-link {
    border-left: #e1e5eb solid 0.05px;
    min-width: 3.75rem; }
  @media (max-width: 767.98px) {
    .main-navbar .navbar .notifications {
      position: static; }
      .main-navbar .navbar .notifications .dropdown-menu {
        min-width: 100% !important; } }
  .main-navbar .navbar .notifications .badge {
    position: static;
    padding: 0.25rem 0.375rem;
    font-size: 0.55rem; }
  .main-navbar .navbar .notifications .dropdown-menu {
    padding: 0;
    margin: 0;
    min-width: 23rem;
    left: auto; }
    .main-navbar .navbar .notifications .dropdown-menu .dropdown-item {
      white-space: normal;
      display: flex;
      flex-flow: row;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem; }
      .main-navbar .navbar .notifications .dropdown-menu .dropdown-item:last-child {
        background-color: #dfe1e3; }
    .main-navbar .navbar .notifications .dropdown-menu .notification__icon-wrapper {
      display: flex;
      padding: 0 5px;
      margin: 0; }
    .main-navbar .navbar .notifications .dropdown-menu .notification__icon {
      box-shadow: 0 0 0.2rem 1px #5A6169;
      width: 2.1875rem;
      height: 2.1875rem;
      margin: auto;
      border-radius: 50%; }
      .main-navbar .navbar .notifications .dropdown-menu .notification__icon img {
        border-radius: 50%;
        width: 100%; }
    .main-navbar .navbar .notifications .dropdown-menu .notification__content {
      padding: 0 0.625rem; }
      .main-navbar .navbar .notifications .dropdown-menu .notification__content p {
        margin: 0;
        padding: 0;
        line-height: 1.5;
        font-size: 0.75rem; }
    .main-navbar .navbar .notifications .dropdown-menu .notification__category {
      font-size: 0.5625rem;
      color: #3D5170;
      letter-spacing: 0.0938rem;
      display: inline-block;
      text-transform: uppercase;
      margin-bottom: 5px;
      font-weight: 500; }
    .main-navbar .navbar .notifications .dropdown-menu .notification__all {
      display: block;
      font-weight: 500;
      font-size: 11px; }
      .main-navbar .navbar .notifications .dropdown-menu .notification__all:hover {
        border-bottom-left-radius: 0.24 0.5rem;
        border-bottom-right-radius: 0.24 0.5rem; }
  .main-navbar .navbar .user-options .user-avatar {
    max-width: 2.5rem; }
  .main-navbar .navbar .user-options .dropdown-menu {
    left: auto;
    padding: 0;
    margin: 0;
    min-width: 13rem; }
    .main-navbar .navbar .user-options .dropdown-menu .dropdown-item {
      white-space: normal;
      display: flex;
      flex-flow: row;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem; }
    .main-navbar .navbar .user-options .dropdown-menu .option__icon-wrapper {
      display: flex;
      padding: 0 5px;
      margin: 0; }
    .main-navbar .navbar .user-options .dropdown-menu .option__icon {
      background-color: #e1e5eb;
      box-shadow: 0 0 0.2rem 1px #5A6169;
      width: 2.1875rem;
      height: 2.1875rem;
      line-height: 0;
      display: block;
      text-align: center;
      margin: auto;
      border-radius: 50%; }
      .main-navbar .navbar .user-options .dropdown-menu .option__icon i {
        color: #3D5170;
        line-height: 2.0625rem;
        font-size: 1.0625rem;
        margin: 0; }
    .main-navbar .navbar .user-options .dropdown-menu .option__content {
      padding: 0 0.625rem; }
    .main-navbar .navbar .user-options .dropdown-menu .option__name {
      font-size: 0.5625rem;
      color: #3D5170;
      letter-spacing: 0.0938rem;
      display: inline-block;
      text-transform: uppercase;
      margin-bottom: 5px;
      font-weight: 500; }
  .main-navbar .navbar .navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .main-navbar .navbar .nav-link-icon i {
    line-height: 2.5rem;
    color: #232f34; }

.main-content > .main-navbar,
.main-content .header-navbar {
  box-shadow: 0 0.125rem 0.6825rem rgba(90, 97, 105, 0.3); }

.main-sidebar {
  position: fixed;
  height: calc(100vh);
  background: #ffffff;
  z-index: 1070;
  transition: transform 200ms ease-in-out;
  box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.3); }
  @media (max-width: 767.98px) {
    .main-sidebar {
      transform: translateX(-100%);
      box-shadow: none; } }
  .main-sidebar.open {
    transform: translateX(0);
    box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.3); }
  .main-sidebar .toggle-sidebar {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    border-left: #e1e5eb solid 0.05px; }
    .main-sidebar .toggle-sidebar:hover {
      cursor: pointer; }
  .main-sidebar .navbar-brand {
    overflow: hidden;
    white-space: normal;
    text-align: center;
    height: 3.75rem;
    font-size: 1.1rem;
    display: flex;
    background-color: #ffffff;
    color: #232f34; }
    .main-sidebar .navbar-brand .brand-logo {
      max-width: 30px; }
  .main-sidebar .nav-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 3.75rem - 1px); }
  .main-sidebar .nav .menu-header {
    color: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 600;
    padding: 0.5rem;
    background-color: #818EA3; }
  .main-sidebar .nav .nav-item,
  .main-sidebar .nav .nav-link {
    white-space: nowrap;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    transition: box-shadow 200ms ease, color 200ms ease, background-color 200ms ease;
    font-size: 0.85rem; }
  .main-sidebar .nav .nav-item .nav-link {
    border-bottom: #e1e5eb solid 0.05px;
    font-weight: 400;
    color: #5A6169;
    padding: 0.9375rem 1.5625rem;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .main-sidebar .nav .nav-item .nav-link i {
      min-width: 1.25rem;
      font-size: 1.125rem;
      color: #5A6169;
      transition: color 200ms ease;
      margin-right: 0.375rem; }
  .main-sidebar .nav .nav-item.active,
  .main-sidebar .nav .nav-item .nav-link.active, .main-sidebar .nav .nav-item:hover,
  .main-sidebar .nav .nav-item .nav-link:hover {
    box-shadow: inset 0.1875rem 0 0 #3D5170;
    background-color: #e1e5eb;
    color: #3D5170;
    border: none; }
    .main-sidebar .nav .nav-item.active i,
    .main-sidebar .nav .nav-item .nav-link.active i, .main-sidebar .nav .nav-item:hover i,
    .main-sidebar .nav .nav-item .nav-link:hover i {
      color: #3D5170; }
  .main-sidebar .nav .nav-item .collapse,
  .main-sidebar .nav .nav-item .collapsing {
    border-bottom: #e1e5eb solid 0.05px;
    background-color: #ffffff; }
    .main-sidebar .nav .nav-item .collapse .collapse-inner,
    .main-sidebar .nav .nav-item .collapsing .collapse-inner {
      font-size: 12px; }
      .main-sidebar .nav .nav-item .collapse .collapse-inner .collapse-item,
      .main-sidebar .nav .nav-item .collapsing .collapse-inner .collapse-item {
        box-shadow: inset 0.1875rem 0 0 #3D5170;
        display: block;
        text-align: center;
        text-decoration: none;
        font-weight: 400;
        color: #5A6169;
        padding: 0.9375rem 1.5625rem; }
        .main-sidebar .nav .nav-item .collapse .collapse-inner .collapse-item i,
        .main-sidebar .nav .nav-item .collapsing .collapse-inner .collapse-item i {
          min-width: 1.25rem;
          font-size: 1.125rem;
          color: #5A6169;
          transition: color 200ms ease;
          margin-right: 0.375rem; }
        .main-sidebar .nav .nav-item .collapse .collapse-inner .collapse-item:hover,
        .main-sidebar .nav .nav-item .collapsing .collapse-inner .collapse-item:hover {
          box-shadow: inset 0.1875rem 0 0 #3D5170;
          background-color: #c2cad7;
          color: #3D5170; }
        .main-sidebar .nav .nav-item .collapse .collapse-inner .collapse-item.active,
        .main-sidebar .nav .nav-item .collapsing .collapse-inner .collapse-item.active {
          box-shadow: inset 0.1875rem 0 0 #3D5170;
          background-color: #c2cad7;
          color: #3D5170; }

.page-header .page-title {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #3D5170; }
  @media (max-width: 767.98px) {
    .page-header .page-title {
      font-size: 2rem; } }
.page-header .page-subtitle {
  letter-spacing: 0.125rem;
  color: #232f34;
  font-size: 0.625rem; }
  @media (max-width: 767.98px) {
    .page-header .page-subtitle {
      font-size: 0.8125rem;
      font-weight: 400; } }

.main-content > .main-content-container.container-fluid {
  min-height: calc(100vh - 7.5rem);
  background-color: #F5F6F8; }

.btn:focus,
.btn:active,
.btn:active:focus,
.form-control:focus {
  box-shadow: none !important;
  outline: none; }

a {
  color: #4a6572;
  font-weight: 500;
  transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

.main-footer {
  height: 3.75rem; }
  .main-footer .copyright {
    color: #232f34; }
  @media (max-width: 767.98px) {
    .main-footer .copyright {
      display: inline-block;
      width: 100%;
      padding: 1rem;
      text-align: center; } }

.login {
  background-color: #384b52;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Nunito', 'Segoe UI', arial; }

.login-brand {
  margin: 20px 0;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #666;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
