.form-control ,
//.input-group-text,
.custom-select, 
.custom-file-label 
{
  @include form-control;
  &:focus {
    @include form-control-focus;
  }
}


.custom-control {
  // border:solid 1px red;
  line-height: 1.6rem;
}



.form-group {
  margin-bottom: 25px;
  .control-label,
  > label {
    font-weight: 600;
    // color: color(fontdark);
    color:$blue-800;
    font-size: 12px;
    letter-spacing: .5px;
  }
 
}



.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-control-input:checked~.custom-control-label::before {
  // background-color: color(primary) !important;
  background-color: $blue-700 !important;
}


.custom-file-label {
  &:after {
    border-color: transparent;
  }
  &:focus, &:active {
    box-shadow: none;
    outline: none;
  }
}

.custom-file-input {
  &:focus {
    + .custom-file-label {
      box-shadow: none;
      border-color: $fiord-blue;
      &:after {
        border-color: transparent;
      }
    }
  }
}